body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  letter-spacing: normal;
  text-transform: none;
  width: 1200px;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*пока выключаю всплывающие формы*/
.temporally-hidden{
  display:none;
}

.button {
  display:block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: none;
  background-color: #e74a35;
  border: none;
  border-radius: 15px;
}
.button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.2),
                     rgba(255, 255, 255, 0.2));
}
.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.07),
                     rgba(0, 0, 0, 0.07));

}

.button-white{
  display:block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}
.button-white:hover{
  background-color: #ffffff;
}
.button-white:active{
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

/*основная навигация*/
.site-navigation,
.user-navigation {
  font: inferit;
  list-style: none;
  color: #ffffff;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-decoration:underline;
}

.login-link li{
  font: inherit;
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.button-white.search-button {
  width: 33px;
  height: 33px;

}
.button-white.entrance{
  width: 93px;
  height: 32px;
  text-align: right;
}
.button-white.busket-button{
  width: 100px;
  height: 33px;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation{
  line-height: 18px;
}

.user-navigation{
  font-size: 14px;
  line-height: 16px;
}

.login-form-button{
  width: 100px;
  height: 44px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
}
.login-form-part{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.login-form-part-link{
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

  .working-time{
    font: inherit;
  }

 .working-time p{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

 .phone-number{
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.catalog-list{
  list-style:none;
}


/*давайте оба*/
.gallery{
  font-family: inherit;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;;
}
.promotion{
  background-image: url(../img/2-icecream-promo.png);
  width: 1045px;
  height: 881px;
  background-position: top center;
  background-repeat: no-repeat;
}
.gallery.button{
    width: 280px;
    height: 64px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.list-catalog li,
.hit-items-list li{
  list-style:none;
}

/*специальное предложение*/
.raspberry{
  background-image: url(../img/rasperry.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 560px;
  height: 229px;
  object-fit: contain;
  border-radius: 15px;

}
.chocolate{
  background-image: url(../img/chocolate.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  width: 560px;
  height: 229px;
  object-fit: contain;
  border-radius: 15px;
}

.special-offers h3{
  font-family: Roboto;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 41px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.special-offers p{
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}
.button-raspberry{
  width: 165px;
  height: 46px;
  font-weight: normal;
  line-height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-decoration: none;
}

.button-chocolate{
  width: 189px;
  height: 45px;
  font-weight: normal;
  line-height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-decoration: none;
}
/*не понимаю, одна ссылка такая маленькая делается, вторая большая..
Хотя свойства почти одинаковые...*/


/*хиты*/



.hit-items-names a{
  list-style: none;
  font: inherit;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

 .hit-items-price{
   text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
 }

/*преимущества*/
.features-item li{
  list-style:none;
}

.features{
  background-image: url("../img/background.jpg");
  width: 1146px;
  height: 306px;
  object-fit: contain;
  border-radius: 15px;
}

.features-name{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
.features-explanation{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
.features-list li{
  list-style: none;
}

/*новое в нашем блоге статья*/
article{
  background-image: url(../img/icecream-strawberry.jpg);
  width: 560px;
 height: 220px;
 background-color: #8996a6;
}
.article-news{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
.article-name{
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
/*почему-то сползло название*/


/*форма подписки*/

.subscription{
  width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
}
.subscription-button{
  width: 129px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
}

/*карта и адрес*/
.description{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
.address{
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
.phone-number-address {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  }
.backfeed-button{
  width: 252px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
}



/*футер*/
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}
.information{
  list-style: none;
}
.information-list{
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footer-copyright{
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
}
.information li{
  list-style: none;
}

/*catalog*/

.icecream-name{
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 41px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.catalog{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.filter-options{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.filter.button{
  width: 144px;
  height: 37px;
  border: solid 2px #ffffff;
  background-color: #ffffff;
}

.breadcrumbs li,
.fat-option li,
.filler-list li{
  list-style: none;
}
